<div class="box">

	<div class="header">
		<h1>
			<a routerLink="/home" routerLinkActive="active">
				Roger and the Boys
			</a>
		</h1>
	</div>

	<div class="topnav">
		<a routerLink="/home" routerLinkActive="active">Home</a>
		<a routerLink="/about" routerLinkActive="active">About</a>
		<a routerLink="/photos" routerLinkActive="active">Photos</a>
		<a routerLink="/shows" routerLinkActive="active">Shows</a>
		<a routerLink="/contact" routerLinkActive="active">Contact</a>
	</div>

	<div class="content">
		<router-outlet></router-outlet>
	</div>

	<div class="footer">
		<a href="https://rogerandtheboys.bandcamp.com/releases">
			<img src="../assets/icons8-bandcamp-64.png"/>
		</a>
		<a href="https://www.facebook.com/rogerandtheboys">
			<img src="../assets/facebook-3-64.png"/>
		</a>
		<a href="https://soundcloud.com/rogerandtheboys">
			<img src="../assets/soundcloud-6-64.png"/>
		</a>
		<a href="https://www.youtube.com/channel/UCRbwIVf6-nhWnayjevOzVLg">
			<img src="../assets/youtube-64.png"/>
		</a>
	</div>

</div>
